<!-- Modal type settings page -->
<ng-template #longContent let-modal>
    <div class="modal-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Location search" name="city"
                aria-label="Location search" aria-describedby="button-addon2" [(ngModel)]="locationSearch">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    (click)="getLocationsByName(locationSearch)"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="row">
            <div *ngIf="favouriteList.length>0" class="col-6">
                <span>Favourites:</span>
                <div *ngFor="let favourite of favouriteList">
                    <a href="#" (click)="toggleFavourite(favourite.name, favourite.lat, favourite.lon)"><i
                            class="fa fa-trash"> </i></a>
                    <a href="#" (click)="getWeatherFromCoords(favourite.lat, favourite.lon, favourite.name)">
                        {{favourite.name}} </a>
                </div>
            </div>
            <div *ngIf="locations.length>0" class="col-6">
                <span>Search result:</span>
                <div *ngFor="let location of locations">
                    <a href="#"
                        (click)="getWeatherFromCoords(location.lat, location.lon, location.name)">{{location.name}},
                        {{location.countryName}}</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Body of the widged -->
<div class="grid-container widget-env ">
    <div class="container widget-background shadow p-3" [style]="backgroundImage">
        <div class="row top-half-height">
            <div class="col-md-5 col-sm-12 titleDiv">
                <span class="widgetTitle">
                    <a href="#" (click)="toggleFavourite(currentLoc.name,currentLoc.lat,currentLoc.lon)">
                        <i [ngClass]="isCurrentFav.class"></i></a>{{currentLoc.name}} </span><br />
                <span class="widgetSubtitle"> {{weekDay}} </span>
                <div class="gearIcon-sm d-md-none">
                    <a (click)="openSearchModal(longContent)" href="#"><i class="fa fa-gear gearIcon-sm"></i></a><br />
                </div>
            </div>
            <div *ngIf="loader" class="col-md-4 col-sm-6">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div *ngIf="!loader || todaysWeather.length" class="col-md-4 d-none d-md-block no-repeat-right"
                [style]="todaysWeather[0].symbol_code">
            </div>
            <div class="col-12 d-md-none row nowData-sm">
                <div *ngIf="!loader || todaysWeather.length" class="col-6 d-md-none">
                    <span class="widgetTitle-sm"> {{todaysWeather[0].air_temperature}}ºC</span>
                </div>
                <div *ngIf="!loader || todaysWeather.length" class="col-6 d-md-none no-repeat-center-sm"
                    [style]="todaysWeather[0].symbol_code"></div>
            </div>
            <div *ngIf="!loader" class="col-sm-6 col-md-3 d-none d-md-block">
                <div class="gearIcon">
                    <a (click)="openSearchModal(longContent)" href="#"><i class="fa fa-gear gearIcon"></i></a><br />
                </div>
                <span *ngIf="todaysWeather.length" class="mainTemp  d-none d-md-block">
                    {{todaysWeather[0].air_temperature}}ºC</span>
                <span *ngIf="!todaysWeather.length" class="mainTemp d-none d-md-block">0ºC</span>
                <span class="tempTitle d-none d-md-block"> Now </span>
            </div>
        </div>
        <div class="row bottom-half-height" *ngIf="todaysWeather.length">
            <div *ngFor="let item of todaysWeather | slice:1" class="col-md-4 ">
                <div class="no-repeat-center" [style]="item.symbol_code"> </div>
                <span class="timeFuture d-none d-md-block">{{item.time}}</span><br />
                <span class="tempFuture d-none d-md-block"> {{item.air_temperature}}ºC </span>
                <span class="timeFuture-sm d-md-none">{{item.air_temperature}}ºC - {{item.time}}</span>
            </div>
        </div>
    </div>
</div>