//Padding Override
.col-1,
.col-2,
.col-3,
.col-4 {
  padding: 0;
}
a{
  .fa-trash{
    color: rgb(168, 25, 25);
  }
}

.widget-env {
  color: white;
  padding: 20% 20%;
  margin: auto;
}

@media screen and (min-width: 993px) {
  .top-half-height {
    min-height: 115px;
  }

  .bottom-half-height {
    min-height: 115px;
  }
}

@media screen and (max-width: 992px) {
  .top-half-height {
    min-height: 150px;
  }

  .bottom-half-height {
    min-height: 80px;
  }
}

.widget-background {
  min-height: 250px;
  max-height: 600px;
  max-width: 700px;
  min-width: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 15px;
}

.widget {
  color: white;
  padding: 20% 30%;
}

.titleDiv {
  padding: 0 0 0 5%;
}

.widgetTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

.gearIcon {
  font-size: 2rem;
  position: absolute;
  bottom: -8%;
  right: 10%;
  a:visited {
    color: white;
  }
}
.gearIcon-sm {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 2%;
  a:visited {
    color: white;
  }
}

/* If the screen size is 1201px or wider:*/
@media screen and (min-width: 1201px) {
  .widgetTitle {
    font-size: 2rem;
  }
  .widgetSubtitle {
    font-size: 1.5rem;
  }

  .mainTemp {
    padding-top: 10px;
    font-size: 2.8rem;
  }
  .tempTitle {
    font-size: 1.5rem;
  }

  .timeFuture {
    position: absolute;
    bottom: 30%;
    right: 10%;
    font-size: 1rem;
  }
  .tempFuture {
    position: absolute;
    bottom: 0;
    right: 10%;
    font-size: 1.8rem;
  }
}

// gearIcon-sm
/* If the screen size is 1200px or narrower:*/
@media screen and (max-width: 1200px) {
  .widgetTitle {
    font-size: 1.5rem;
    line-height: 1;
  }
  .widgetSubtitle {
    font-size: 0.9rem;
    line-height: 1;
  }
  .mainTemp {
    padding-top: 10px;
    font-size: 2rem;
  }
  .tempTitle {
    font-size: 1rem;
  }

  .timeFuture {
    position: absolute;
    bottom: 30%;
    right: 10%;
    font-size: 1rem;
  }
  .tempFuture {
    position: absolute;
    bottom: 0;
    right: 10%;
    font-size: 1.5rem;
  }
}

.widgetTitle-sm {
  font-size: 3rem;
  text-align: center;
}

.no-repeat-right {
  background-repeat: no-repeat;
  background-position: right;
}
@media screen and (min-width: 769px) {
  .no-repeat-center {
    height: 80%;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.8;
  }
}
@media screen and (max-width: 768px) {
  .no-repeat-center {
    height: 100%;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 1;
  }
}
.no-repeat-center-sm {
  height: 100%;
  min-height: 100px;
  background-repeat: no-repeat;
  background-position: left;
}
.timeFuture-sm {
  position: absolute;
  bottom: 0%;
  right: 5%;
  font-size: 1.5rem;
}
.nowData-sm {
  margin-bottom: 15px;
  width: 100%;
}
.testDiv {
  background-repeat: no-repeat;
  height: 70%;
  width: 100%;
}

// ------- CSS loader -------

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
